// Mixins
@mixin rylib-font-size-h2 {
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 700;  
}

@mixin rylib-font-size-h3 {
  line-height: 1.25em;
  font-size: 1.25em;
  font-weight: 700;  
}

@mixin rylib-font-size-h4 {
  line-height: 1.1em;
  font-size: 1.1em;
  font-weight: 700;  
}

@mixin rylib-lg-h3 {
  font-family: inherit;
  line-height: 1.25em;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.35em;
}

/* General Layout Concerns */
.s-lib-public-side-header h2 {
  @include rylib-widget-heading;
  border: 0;
}

.s-lib-public-side-header + .txt h3 {
  @include rylib-lg-h3
}
