// LibGuides homepage tabs navigation
#s-lg-hp-nav {
  background: none;
  color: var(--black);
  border-radius: 0;
  margin-bottom: 0;

  > ul > li {
    padding: 0;
  }

  .nav .s-lg-index-nav-btn > button {
    margin: 0;
    border-radius: 0;
    background: var(--ryerson-lightblue);
    color: var(--white);
    font-weight: 700;
    padding: 0.5em 1em;
    &:hover {
      background: var(--ryerson-secondary-color);
      color: var(--white);
    }
    &:focus {
      outline: 1px dotted;
    }
  }

  .nav-pills > li.active > button {
    background-color: var(--white);
    color: var(--black);
  }

  .nav-pills > li + li {
    margin-left: 1px;
  
  }

  li#s-lg-hp-nav-bottom {
    background: var(--white);
    padding: 1em;
    border-radius: 0;
  }
}


#s-lg-guide-list-controls {
  background: var(--white);
  padding: 0 1em;
}

#s-lg-guide-list-controls:after {
  content: "";
  clear: both;
  display: table;
}

#s-lg-guide-list-controls #s-lg-index-list-header {
  margin-top: 0;
  margin-bottom: 1em;
}

#s-lg-index-list {
  background: var(--white);
  padding: 0 1em 1em;
}
#s-lg-index-list .panel-group .panel {
  border-radius: 0;
}

#s-lg-index-list .panel-default > .panel-heading {
  color: var(--black);
  background-color: var(--grey);
  border: 0;
  border-radius: 0;
}

#s-lg-index-list .panel-default > .panel-heading a {
  color: var(--link-color);
}

#s-lg-index-list .panel-default .panel-body a {
  font-weight: 400;
}

#s-lg-index-list .s-lg-guide-list {
  list-style: none;
  padding: 0;
}

#s-lg-index-list #s-lg-index-list-subjects,
#s-lg-index-list #s-lg-index-list-types {
  padding: 0 0.5em;
}
#s-lg-index-list #s-lg-index-list-subjects #col-1,
#s-lg-index-list #s-lg-index-list-subjects #col-2,
#s-lg-index-list #s-lg-index-list-types #col-1,
#s-lg-index-list #s-lg-index-list-types #col-2 {
  padding: 0 0.5em;
}

#s-lg-index-list-guides a {
  font-weight: 400;
}

#s-lg-index-list-guides .s-lib-box {
  margin-bottom: 0;
  padding: 0 0.5em;
}

#s-lg-index-list-guides .s-lib-box-content {
  padding: 0;
}

#s-lg-index-list-guides .s-lib-box:hover {
  background: var(--black);
}

#s-lg-index-list-guides .s-lib-box:hover .s-lg-gtitle > a,
#s-lg-index-list-guides .s-lib-box:hover .btn-link,
#s-lg-index-list-guides .s-lib-box:hover .s-lg-gtitle > .s-lg-gmeta span {
  color: var(--white);
  text-decoration: none;
}


// Homepage sidebar boxes
#s-lg-index-cols #col2 > div {
  background: var(--white);
}

#s-lg-index-cols .s-lib-public-side-header + .txt {
  padding: 0 1em 1em;
}

#s-lg-index-cols .s-lib-public-side-header + .txt h3 {
  font-family: inherit;
  line-height: 1.25em;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.35em;
}