@mixin rylib-widget-heading {
  background: var(--ryerson-blue);
  color: var(--white);
  line-height: 1.25em;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1em;
  border-bottom: none;
  
  > a {
    color: var(--white);
  }
}

@mixin rylib-widget-heading-important {
  background: var(--ryerson-blue)!important;
  color: var(--white)!important;
  font-size: 1.25em!important;
  line-height: 1.25em!important;
  font-weight: 700!important;
  margin-bottom: 0!important;
  margin-top: 0!important;
  padding: 1em!important;
  > a {
    color: var(--white)!important;
  }
}

@mixin rylib-widget-content {
  margin-top: 0;
  padding: 0.5em 1em;
  background: var(--white);
}

@mixin rylib-widget-content-important {
  margin-top: 0!important;
  padding: 0.5em 1em!important;
  background: var(--white)!important;
}

// For the tabs in tabbed navigation layouts 
@mixin rylib-tabs {
  border-bottom: none;

  > li {
    margin-bottom: 0;
    margin-right: 1px;

    > a,
    > button {
      color: var(--white);
      background-color: var(--ryerson-lightblue);
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      padding: 10px 15px;
      border-radius: 0;
      border: 0;

      &:hover {
        background-color: var(--ryerson-secondary-color);
      }
    }
  }

  > li.active {
    > a,
    > button {
      color: var(--black);
      background-color: var(--white);
    }
  }
}

@mixin rylib-tabs-content {
  background: var(--white);
  padding: 0 2rem 2rem;
  margin-bottom: 0!important;
}

@mixin rylib-clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}