@import '_headings.scss';

/* s-lib-box styles (Boxes) */
.s-lib-box {
  border: 0;
  background: var(--white);
  border-radius: 0;
  box-shadow: none;
}

.txt {
  @include rylib-widget-content;

  &.pad-top-sm {
    padding-top: 1em;
  }
}

/* s-lib-box title */
.s-lib-box .s-lib-box-title {
  @include rylib-widget-heading;
  border: 0;
}

/* s-lib-box-content */
.s-lib-box-content {
  padding: 1em 1.5em;
}

/* s-lib-box h3 */
.s-lib-box h3 {
  @include rylib-font-size-h3;
}

.s-lib-box h4 {
  @include rylib-font-size-h4;
}

/* Lists of Databases */
/* .s-lg-er-item-list, .s-lg-link-list, .s-lg-rss-list, .s-lg-system-list */
.s-lg-link-list {
  padding: 0;
  list-style-type: none;
}

/* .s-lg-er-item-list li, .s-lg-link-list li, .s-lg-system-list li, .s-lib-footer */
.s-lg-link-list li {
  padding-top: 0;
}

.s-lg-link-list > li + li {
  margin-top: 1em;
}

/* There is no class attached to the database title.. This rule might catch in other places?.. */
.s-lg-link-list a {
  font-weight: 700;
}

.s-lg-tn {
  margin-left: 0;
}

.margin-right-sm {
  margin-right: 1em !important;
}

.imgshadow {
  box-shadow: 0 5px 5px 0 silver;
}

.rightbuffer {
  margin-right: 2em;
}

// Styles the Librarian profile inside of an experts box
#s-lg-az-experts-div,
#s-lg-sb-experts-div {

  #s-lg-box-profile {

    .s-lib-box-title { display: none; }

    #s-lg-box-collapse-profile {
      
      .s-lib-box-content {
        padding: 0;
      }

      .s-lib-profile-image img {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        max-width: auto;
      }
    }
  }
}

// The following are not classes provided in LibGuides, we added it into our own custom layout for the following layouts (under Look & Feel > Page Layout):
// - Individual Subject Page
// - Landing Page
// - Profile Landing Page
// They wrap the {{content_box_search}}, {{content_box_az}}, {{content_box_help}}, {{content_box_guides}} tokens so they don't look broken.
.lg-content-box-search {
  .input-append {
    padding: 0 1em 1em;
    background: var(--white);

    form {
      display: flex;
    }
  }
}
.lg-content-box-az,
.lg-content-box-help {
  background: var(--white);
  a.btn {
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
// TODO: .lg-content-box-guides
